* {
    box-sizing: border-box;  
  }
  
  body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      height: 100vh;
      background: rgb(103, 173, 238);
      color: white;
  }
  
  .main-header {
      background: #2a325f;
  }
  
  .main-header__title {
      margin: 0;
      padding: 15px;
      text-transform: uppercase;
      color: rgb(250, 253, 70);
  }
  
  .intro {
      width: 70%;
      margin: 0 auto;
      text-align: center;
   }
    
  .intro__paragraph {
      font-size: 1.4em;
      line-height: 1.9em;
  }
  
  .play {
      background-color: #37669b;
      padding: 18px 20px;
      border-radius: 4px;
      color: #f1f1f1;
      cursor: pointer;
      border: 0;
      font-size: 1.4em;
      text-decoration: none;
      display: inline-block;
  }